<div class="container my-5">
  <form #f="ngForm" (ngSubmit)="onSubmit()" class="boxform bg-white p-5">
    <div class="icon"><i class="bi bi-person-circle"></i></div>
    <div class="mb-3 d-sm-flex gap-1">
      <input
        ngModel
        name="firstname"
        type="text"
        class="form-control mb-1 mb-sm-0"
        placeholder="Firstname"
      />
      <input
        ngModel
        name="lastname"
        type="text"
        class="form-control"
        placeholder="Lastname"
      />
    </div>
    <div class="mb-3">
      <input
        ngModel
        name="email"
        type="email"
        class="form-control"
        placeholder="Email"
      />
    </div>
    <div class="mb-3">
      <input
        ngModel
        name="password"
        type="password"
        class="form-control"
        placeholder="Password"
      />
    </div>
    <div class="mb-3 d-sm-flex justify-content-between gap-1">
      <input
        ngModel
        name="age"
        type="number"
        class="form-control"
        placeholder="Age"
      />
    </div>
    <button type="submit" class="btn">Register</button>
  </form>
</div>
