<div class="container d-flex">
  <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3">
    <div class="d-flex justify-content-between align-item-center mb-3 mb-md-0">
      <h4>Menù admin</h4>
      <div><i class="bi bi-person-plus-fill"></i></div>
    </div>
    <hr />

    <div class="list-group w-auto mb-auto overflow-auto">
      <ul class="nav nav-pills flex-column mb-auto">
        <li
          class="list-group-item list-group-item-action d-flex gap-3 py-3"
          aria-current="true"
        >
          <div
            class="user-container d-flex gap-2 justify-content-between align-items-center"
          >
            <div class="icon"><i class="bi bi-person-circle"></i></div>
            <h6 class="mb-0">Nome Cognome</h6>
            <p class="mb-0 opacity-75">Clicca per i dettagli</p>
          </div>
        </li>
        <li
          class="list-group-item list-group-item-action d-flex gap-3 py-3"
          aria-current="true"
        >
          <div
            class="user-container d-flex gap-2 justify-content-between align-items-center"
          >
            <div class="icon"><i class="bi bi-person-circle"></i></div>
            <h6 class="mb-0">Nome Cognome</h6>
            <p class="mb-0 opacity-75">Clicca per i dettagli</p>
          </div>
        </li>
        <li
          class="list-group-item list-group-item-action d-flex gap-3 py-3"
          aria-current="true"
        >
          <div
            class="user-container d-flex gap-2 justify-content-between align-items-center"
          >
            <div class="icon"><i class="bi bi-person-circle"></i></div>
            <h6 class="mb-0">Nome Cognome</h6>
            <p class="mb-0 opacity-75">Clicca per i dettagli</p>
          </div>
        </li>
        <li
          class="list-group-item list-group-item-action d-flex gap-3 py-3"
          aria-current="true"
        >
          <div
            class="user-container d-flex gap-2 justify-content-between align-items-center"
          >
            <div class="icon"><i class="bi bi-person-circle"></i></div>
            <h6 class="mb-0">Nome Cognome</h6>
            <p class="mb-0 opacity-75">Clicca per i dettagli</p>
          </div>
        </li>
        <li
          class="list-group-item list-group-item-action d-flex gap-3 py-3"
          aria-current="true"
        >
          <div
            class="user-container d-flex gap-2 justify-content-between align-items-center"
          >
            <div class="icon"><i class="bi bi-person-circle"></i></div>
            <h6 class="mb-0">Nome Cognome</h6>
            <p class="mb-0 opacity-75">Clicca per i dettagli</p>
          </div>
        </li>
        <li
          class="list-group-item list-group-item-action d-flex gap-3 py-3"
          aria-current="true"
        >
          <div
            class="user-container d-flex gap-2 justify-content-between align-items-center"
          >
            <div class="icon"><i class="bi bi-person-circle"></i></div>
            <h6 class="mb-0">Nome Cognome</h6>
            <p class="mb-0 opacity-75">Clicca per i dettagli</p>
          </div>
        </li>
      </ul>
    </div>

    <hr />
  </div>

  <div class="users-details position-relative">
    <div class="container my-auto">
      <div class="icon"><i class="bi bi-person-circle"></i></div>
      <hr />
      <div>
        <ul class="d-flex flex-wrap justify-content-between align-items-center">
          <li>
            <h5>Nome</h5>
            <p>Mario</p>
          </li>
          <li>
            <h5>Cognome</h5>
            <p>Rossi</p>
          </li>
          <li>
            <h5>Età</h5>
            <p>36</p>
          </li>
          <li>
            <h5>Email</h5>
            <p>Mario@rossi.it</p>
          </li>
          <li>
            <h5>Password</h5>
            <p>12345</p>
          </li>
          <li>
            <h5>Ruolo</h5>
            <p>Admin</p>
          </li>
        </ul>
        <hr />
        <button class="btn"><h5>Modifica</h5></button>
      </div>
      <div class="delete-icon">
        <i class="bi bi-person-x-fill"></i>
      </div>
    </div>
  </div>
</div>
