<div class="container d-flex">
  <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-light">
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
    >
      <span class="fs-4">Menù admin</span>
    </a>
    <hr />

    <div class="list-group w-auto mb-auto">
      <ul class="nav nav-pills flex-column mb-auto">
        <li
          class="list-group-item list-group-item-action d-flex gap-3 py-3"
          aria-current="true"
        >
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div class="icon"><i class="bi bi-person-circle"></i></div>
            <h6 class="mb-0">Nome Cognome</h6>
            <p class="mb-0 opacity-75">Clicca per i dettagli</p>
          </div>
        </li>
        <li
          class="list-group-item list-group-item-action d-flex gap-3 py-3"
          aria-current="true"
        >
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div class="icon"><i class="bi bi-person-circle"></i></div>
            <h6 class="mb-0">Nome Cognome</h6>
            <p class="mb-0 opacity-75">Clicca per i dettagli</p>
          </div>
        </li>
        <li
          class="list-group-item list-group-item-action d-flex gap-3 py-3"
          aria-current="true"
        >
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div class="icon"><i class="bi bi-person-circle"></i></div>
            <h6 class="mb-0">Nome Cognome</h6>
            <p class="mb-0 opacity-75">Clicca per i dettagli</p>
          </div>
        </li>
        <li
          class="list-group-item list-group-item-action d-flex gap-3 py-3"
          aria-current="true"
        >
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div class="icon"><i class="bi bi-person-circle"></i></div>
            <h6 class="mb-0">Nome Cognome</h6>
            <p class="mb-0 opacity-75">Clicca per i dettagli</p>
          </div>
        </li>
      </ul>
    </div>

    <hr />
    <div class="dropdown">
      <a
        href="#"
        class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://github.com/mdo.png"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li class="dropdown-item">Nuovo utente</li>
        <li class="dropdown-item">Settings</li>
        <li class="dropdown-item">Profile</li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>

  <div
    class="modal modal-sheet position-static d-block"
    tabindex="-1"
    role="dialog"
    id="modalSheet"
  >
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body py-0">
        <p>
          This is a modal sheet, a variation of the modal that docs itself to
          the bottom of the viewport like the newer share sheets in iOS.
        </p>
      </div>
      <div class="modal-footer flex-column border-top-0">
        <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2">
          Save changes
        </button>
        <button
          type="button"
          class="btn btn-lg btn-light w-100 mx-0"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
