<div class="container-all">
  <div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-light">
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
    >
      <svg class="bi pe-none me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a class="nav-link active" (click)="viewList()"> Invoices List </a>
      </li>
      <li>
        <a class="nav-link link-dark" (click)="viewForm()"> Add Invoice </a>
      </li>
    </ul>
    <hr />
    <div class="dropdown">
      <a
        href="#"
        class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://github.com/mdo.png"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>

  <div class="container" *ngIf="list">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cliente</th>
          <th scope="col">Importo</th>
          <th scope="col">Stato</th>
          <th scope="col">Data</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoiceArr">
          <td scope="row">{{invoice.numero}}</td>
          <td scope="row">{{invoice.cliente}}</td>
          <td scope="row">{{invoice.importo}}</td>
          <td scope="row">{{invoice.stato}}</td>
          <td scope="row">{{invoice.data}}</td>
          <td scope="row">
            <button class="btn-sm">Paid</button
            ><button class="btn-sm" (click)="deleteInvoice(invoice)">
              Delete</button
            ><button class="btn-sm"><details></details></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container" *ngIf="!list">
    <form (ngSubmit)="addInvoice()" #f="ngForm">
      <div class="mb-3">
        <input
          type="date"
          class="form-control"
          id="data"
          ngModel
          name="data"
          placeholder="date"
        />
      </div>
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          id="numero"
          ngModel
          name="numero"
          placeholder="Number invoice"
        />
      </div>
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          ngModel
          name="anno"
          id="anno"
          placeholder="year"
        />
      </div>
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          ngModel
          name="importo"
          id="importo"
          placeholder="amount"
        />
      </div>
      <div class="mb-3">
        <select
          class="form-select"
          aria-label="Default select example"
          ngModel
          name="stato"
        >
          <option selected>Status</option>
          <option value="PAGATA">PAGATA</option>
          <option value="NON PAGATA">NON PAGATA</option>
        </select>
      </div>
      <div class="mb-3">
        <select
          class="form-select"
          aria-label="Default select example"
          ngModel
          name="cliente"
        >
          <option selected>Cliente</option>
          <option value="Giovanni">Giovanni</option>
        </select>
      </div>
      <button type="submit" class="btn">Add</button>
    </form>
  </div>
</div>
