// .main {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
//   .header {
//     position: sticky;
//     flex: 1;
//   }
//   .container {
//     flex: 1;
//   }
// }
.main {
  min-height: 100vh;
  .header {
    position: sticky;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

button {
  background-color: #ff8c45;
  color: white;
}
