<div class="container-all">
<div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-light">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
  >
    <svg class="bi pe-none me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link active" (click)="viewList()"> Customers List </a>
    </li>
    <li>
      <a class="nav-link link-dark" (click)="viewForm()"> Add Customer </a>
    </li>
  </ul>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>mdo</strong>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>

<div class="container" *ngIf="list">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ragione sociale</th>
        <th scope="col">Partita IVA</th>
        <th scope="col">Tipo cliente</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of customersArr">
        <td scope="row">{{item.id}}</td>
        <td scope="row">{{item.ragioneSociale}}</td>
        <td scope="row">{{item.partitaIva}}</td>
        <td scope="row">{{item.tipoCliente}}</td>
        <td>
          <button class="btn-sm" (click)="deleteCustomers(item)">Delete</button>
          <button class="btn-sm"><details></details></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container" *ngIf="!list">
  <form (ngSubmit)="addCustomers()" #f="ngForm">
    <div class="mb-3">
      <input type="text" class="form-control" ngModel name="ragioneSociale" placeholder="inserisci la tua ragione sociale...">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" ngModel name="partitaIVA" placeholder="inserisci la tua partitaIVA...">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" ngModel name="tipoCliente" placeholder="inserisci il tuo tipoCliente ...">
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" ngModel name="email" placeholder="inserisci la tua email...">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" ngModel name="pec" placeholder="inserisci la tua pec...">
    </div>
    <div class="mb-3">
      <input type="tel" class="form-control" ngModel name="telefono" placeholder="inserisci il tuo numero telefono...">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" ngModel name="nome" placeholder="inserisci il tuo nome...">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" ngModel name="cognome" placeholder="inserisci il tuo cognome...">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" ngModel name="numeroTelefono" placeholder="inserisci il tuo numero di telefono...">
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" ngModel name="" placeholder="inserisci la tua email...">
    </div>
    <div>
      <h1>Indirizzo sede:</h1>
      <div class="mb-3">
        <input type="text" class="form-control" ngModel name="Via" placeholder="inserisci la tua via...">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" ngModel name="Civico" placeholder="inserisci il tuo civico...">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" ngModel name="CAP" placeholder="inserisci il tuo CAP...">
      </div>
      <div>
        <h1>Comune:</h1>
        <div class="mb-3">
          <input type="text" class="form-control" ngModel name="nome" placeholder="inserisci il nome del tuo comune...">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" ngModel name="provincia" placeholder="inserisci la tua provincia...">
        </div>
      </div>
    </div>
    <div>
      <button type="submit" class="btn">Add</button>
    </div>
  </form>
</div>
</div>